<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div style="padding-right: 0%;" class="container-fluid">
    <div style="text-align: center;" class="row ml-0 mr-0">
        <!-- <div class="col-md-2"></div> -->
            <div style="height: 60px;margin-bottom: -10px;padding-right: 0px;" class="col-md-12"><div style="background-color: #54B8F3;" class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                
                    <span data-notify="message">Get notified of new messages.</span>
                    <button class="toD">Turn On Desktop Notifications</button>
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <!-- <i class="nc-icon nc-simple-remove"></i> -->
                </button>
                <!-- <span data-notify="icon" class="nc-icon nc-bell-55"></span> -->
               
              </div></div>
          </div></div>
    <div class="main-panel">
         

        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
