<!-- <div class="cuat">
<div class="row inboxRow">
    <div class="col-md-8">
<div class="row">
    <div class="col-md-6">
       <h3 class="Ibtitle">Inbox</h3> 
       <small>View and reply to all your emails and chat messages here.</small>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                    <span class="dot"></span>
 
            </div>
            <div class="col-md-4">
                    <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
            </div>
            <div class="col-md-4">
                <div class="dot1">
                        <i class="fa fa-plus-circle someIco"></i>

                </div>

            </div>

        </div>
    </div>

</div>


    </div>
</div>
<div class="row belowTop">
<div class="col-md-3">
    <small class="allCon">All Conversations</small>
</div>
<div class="col-md-2">
        <i class="fa fa-search searchIcon"></i>

</div>
<div class="col-md-2">
        <i class="fa fa-user-circle-o searchIcon"></i>

</div>
<div class="col-md-2">
    <small class="searchIcon">Visitor #8849</small>
</div>
<div class="col-md-4"></div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="row sideThing ">
            <div class="col-md-12">
                <p class="chatId">
                        Visitor #8849
                </p>   
<small style="float:right;margin-right:0px auto;position: relative;top: -24px;">May 1</small>
<small style="top: 22px;
position: relative;
">Hi</small>
            </div>
        </div>
        <div style="background:#ffffff" class="row sideThing">
                <div class="col-md-12">
                    <p class="chatId">
                            Visitor #8849
                    </p>   
    <small style="float:right;margin-right:0px auto;position: relative;top: -24px;">May 1</small>
    <small style="top: 22px;
    position: relative;
    ">Hi</small>
                </div>
            </div>
            <div style="background:#ffffff" class="row sideThing">
                    <div class="col-md-12">
                        <p class="chatId">
                                Visitor #8849
                        </p>   
        <small style="float:right;margin-right:0px auto;position: relative;top: -24px;">May 1</small>
        <small style="top: 22px;
        position: relative;
        ">Hi</small>
                    </div>
                </div>
    </div>
    <div style="padding: 1%;" class="col-md-8">
<div class="row chatContainer">
    <div class="col-md-12">
<div class="user1">
    Hi Jason
</div>
<br>
<div class="user2">
    Welcome to number labs
</div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
            <div class="messageBox">
                <small>Type your message</small>
            </div>
    </div>
</div>
    </div>

</div>


</div> -->