
<div style="      background: #23273B 0% 0% no-repeat padding-box !important;
" class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <!-- numberlab -->
        <!-- <img src="assets/img/angular2-logo.png"> -->
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
numberlab    </a>
  </div>
    <ul class="nav">
      <!--routerLinkActive="active"-->
        <li style="color: white;" *ngFor="let menuItem of menuItems"  class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" class="{{menuItem.class}}">
                <!-- <i class="nc-icon {{menuItem.icon}}"></i> -->
                <p class="{{menuItem.class}}">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
